[user]
	name = Hoang Pham
	email = lehoangpham1092@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false

[includeIf "gitdir:~/hoang/enouvo/"]
  path = ~/.gitconfig-enouvo
[url "ssh://git@github-personal/"]
	insteadOf = ssh://git@github.com/
